@charset "UTF-8";
@font-face {
  font-family: "KTEGAKI";
  src: url("../fonts/KTEGAKI.ttf") format("truetype");
}
@font-face {
  font-family: "RiiTN_R";
  src: url("../fonts/RiiTN_R.otf") format("opentype");
}
/*
.noto-serif-jp-fonts {
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 10;
    font-style: normal;
}*/
/* ベーススタイル */
body, html {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif JP", Arial, sans-serif;
  scroll-behavior: smooth;
}

/* ハンバーガーメニューを浮かせるスタイル */
.floating-hamburger {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10010;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
}

/* 全画面メニュー */
#fullScreenMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}

#fullScreenMenu.visible {
  visibility: visible;
  opacity: 1;
}

#fullScreenMenu ul {
  list-style: none;
  padding: 0;
}

#fullScreenMenu ul li {
  margin: 20px 0;
}

#fullScreenMenu ul li a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  position: relative;
  padding: 5px 0;
  display: inline-block;
  transition: color 0.3s ease;
}

#fullScreenMenu ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

#fullScreenMenu ul li a:hover {
  color: #f0f0f0;
}

#fullScreenMenu ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.arasuzi p span {
  display: inline-block;
}

/* パララックス背景とセクション */
.parallax {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.parallax .back img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* 縦横比を保ちつつ、全体をカバー */
  z-index: 1;
}

.parallax .content {
  position: relative;
  width: 80%;
  z-index: 2;
  text-align: center;
}

.parallax .content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.parallax h1,
.parallax h2,
.parallax p {
  opacity: 0;
  color: white; /* 白文字を設定 */
}

.parallax .content img {
  width: 10vmin;
  height: auto;
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.parallax h2 {
  font-size: 3vmin;
  margin-right: auto;
  margin-left: auto;
}

.parallax h1 {
  writing-mode: vertical-rl;
  font-family: "RiiTN_R";
  font-size: 10vmin;
  margin-right: auto;
  margin-left: auto;
}

.parallax p {
  writing-mode: vertical-rl;
  font-size: 2vmin;
  margin-right: auto;
  margin-left: auto;
}

.fade-in {
  animation: fadeIn ease 2s forwards;
}

.delay-1 {
  animation-delay: 0.5s;
}

.delay-2 {
  animation-delay: 1.5s;
}

.delay-3 {
  animation-delay: 3s;
}

.delay-4 {
  animation-delay: 4s; /* ハンバーガーアイコンのフェードインの遅延時間 */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ハンバーガーアイコンをフェードインさせるスタイル */
.floating-hamburger {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1001;
  opacity: 0;
}

section {
  padding: 60px 20px;
  position: relative;
  overflow: hidden;
}

.text-box {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease;
}

.text-box.visible {
  opacity: 1;
  transform: translateY(0);
}

#synopsis-section {
  text-align: center;
}

#synopsis-section h2 {
  font-size: clamp(20px, 4vw, 40px);
}

#synopsis-section p {
  font-size: clamp(10px, 2.2vw, 30px);
}

.poster-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.poster-img .row {
  width: 70vw;
  height: auto;
}

/* ハンバーガーアイコンの色変更 */
#title-section .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#synopsis-section .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='black' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#info-section .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='red' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#info-section p {
  text-align: center;
  font-size: 10px, 2vw, 40px;
}

#info-section h2 {
  text-align: center;
  font-size: champ(20px, 3.5vw, 40px);
}

#info-section h4 {
  text-align: center;
  font-size: champ(20px, 3.5vw, 40px);
}

.about {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.map {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.husen_img1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.husen_img1 img {
  width: 50%;
  height: auto;
}

.husen_img2 img {
  width: 80%;
  height: auto;
}

.cast {
  text-align: center;
}

.cast h2 {
  text-align: center;
  font-size: clamp(25px, 3.125vw, 40px);
}

.cast ul {
  list-style: none;
}

.cast ul li {
  font-size: clamp(20px, 2vw, 30px);
}

.staff {
  text-align: center;
}

.staff h2 {
  text-align: center;
  font-size: clamp(25px, 3.125vw, 40px);
}

.staff ul {
  list-style: none;
}

.staff ul li {
  font-size: clamp(20px, 2vw, 30px);
}

/* フォトフレームのスタイル */
#flyer-section img {
  border: 10px solid #fff; /* 白いフレーム */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 影 */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

#flyer-section img:hover {
  transform: scale(1.05); /* 少し拡大して浮き上がる効果 */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* 影を強化 */
}

/* モーダルウィンドウのスタイル */
#flyer-modal {
  display: none; /* 初期状態は非表示 */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* 半透明の背景 */
}

#flyer-modal img {
  display: block;
  width: 50vw;
  height: auto;
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#flyer-modal:target {
  display: block; /* クリックで表示 */
}

/* ボタン全体 */
.flowbtn2 {
  font-family: "Noto Sans Japaneses", sans-serif; /* フォント指定 */
  position: relative;
  display: inline-block;
  width: 75px; /* 背景横幅 */
  height: 65px; /* 背景高さ */
  font-size: 30px;
  border-radius: 4px;
  transition: 0.5s;
  text-decoration: none;
  text-align: center;
  margin-bottom: 10px; /* ボタン下の余白 */
}

/* アイコンの位置を少し下げる */
.flowbtn2 i {
  position: relative;
  top: 5px;
}

/* ボタン内テキスト調整 */
.flowbtn2 div {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
}

/* マウスホバー時、ボタン内を白に指定 */
.flowbtn2:hover {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

.sns-sect {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.sns-sect row {
  width: 80vw;
}

/* インスタ・Amazonのアイコンを少し大きく */
.flowbtn2 i.fa-brands.fa-instagram, .flowbtn2 i.fa-brands.fa-amazon {
  font-size: 35px;
}

/* エックス枠線 */
.my_x2 {
  border: solid 1px #000;
  color: #000;
}

/* エックスマウスホバー時 */
.my_x2:hover {
  border: solid 1px #000;
  background-color: #000;
}

/* Instagram枠線 */
.my_instagram2 {
  border: solid 1px #c6529a;
  color: #c6529a;
}

/* Instagramマウスホバー時 */
.my_instagram2:hover {
  border: solid 1px #c6529a;
  background: linear-gradient(45deg, rgb(254, 212, 117) 0%, rgb(229, 61, 93) 50%, rgb(194, 49, 134) 70%, rgb(156, 56, 187) 100%);
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
  .navbar-nav .nav-link {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=style.css.map */